################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/Ocelot.Dashboard
/src/bin/Debug/netcoreapp3.1
/src/obj
